<!DOCTYPE html>
<html lang="es" class="htmlstd html5">
<head>
    <meta charset="charset=UTF-8"/>
    <meta name="Description" content="Trabajo Final Gourmet CS50"/>
    <meta name="Description" lang="es" content="">
    <meta name="keywords" content="html5, css, Javascript, diseño web"/>
    <title>Trabajo Final Curse CS50 Introduction to Computer Science</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Indexcss.css') }}">
</head>
<body>
    <div class="ImagenTitulo1-cont">
        <img src="{{ url_for('static', filename='HYBRID_LOGO.PNG') }}">
    </div>
    <div class="ImagenTitulo2-cont">
        <img src="{{ url_for('static', filename='HYBRID_LOGO.PNG') }}">
    </div>
    <div class="rectangulo"></div>
    <header id="cabeceraIndex">
        <p id="titulo">Gourmet CS50</p>
    </header>
    <div class="menu">
        <button class="buttonmenu" onclick="location.href='index'">Volver</button>
    </div>
    <nav></nav>
    <aside></aside>
    <p id="titulo-listasIngredientes">Receta</p>
    <!----------------------------------------------------------------------------------------------------------------------->
    <section>
        <p>Nombre: {{ receta[2] }}</p>
        <p>Receta: {{ receta[3] }}</p>
        <p>Porciones: {{ receta[5] }}</p>
    </section>
    <footer id="text-footer">
        Trabajo Final De Curso CS50 Introduction To Computer Science
    </footer>
</body>
</html>
